@import './libs/reset.scss';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app,
.app-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-screen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  &.modal {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
